preferences.xml
jaws_keys.xml

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# External tool builders:
.externalToolBuilders/

# Locally stored "Eclipse launch configurations":
*.launch

# Java annotation processor (APT):
.factorypath

# Sbteclipse plugin:
.target

# Tern plugin:
.tern-project

# TeXlipse plugin:
.texlipse

# STS (Spring Tool Suite):
.springBeans

# Code Recommenders:
.recommenders/
